.row {
    display: flex;
    align-items: center;
}

.rowNumber {
    width: 25px;

}

.seatGroupContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-left: -25px;
}

.seatGroup {
    display: flex;
}
