.cabin {
    margin-bottom: 100px;
}

.cabin:last-of-type {
    margin-bottom: 0;
}

.letterLabelRow {
    display: flex;
    justify-content: space-around;
}

.letterLabelGroup {
    display: flex;
}

.letterLabel {
    margin: 10px;
    display: block;
    text-align: center;
}

.letterLabel.First {
    width: 100px;
}

.letterLabel.Business {
    width: 75px;
}

.letterLabel.Economy {
    width: 50px;
}
