.seat {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.available {
    background-color: var(--available-seat-color);
}

.available:hover {
    background-color: var(--hover-seat-color);
    cursor: pointer;
}

.occupied {
    background-color: var(--occupied-seat-color);
}

.selected {
    background-color: var(--selected-seat-color);
}

.occupiedIcon {
    height: 70%;
}
