body {
    box-sizing: border-box;
      margin: 0;
      padding: 0;
      overflow: hidden;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
}

:root {
    /* COLORS */
    --seat-map-background-color: #F4F4F5;
    --sidebar-background-color: #fff;
    --sidebar-border-color: #d2d1d1;
    --button-hover-color: #cb9f41;
    --button-disabled-color: #dcdee2;

    --available-seat-color: #378DF8;
    --occupied-seat-color: #C6C8CC;
    --selected-seat-color: #ECC041;
    --hover-seat-color: #3365c8;
}
